/**
 *
 * author: Karol Zyskowski
 * email: k.zysk@zoho.com
 *
 */

html,
body {
	width: 100%;
  height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font: 1em "Architects Daughter", cursive;
	overflow-x: hidden;
	color: #fff;
}

/**
 *
 * FLEXBOX
 *
 */


.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: none;
}

.row {
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
            flex-flow: row;
}

.col-1 {
  position: absolute;
  width: 350px;
  min-height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  background-color: rgba(0, 1, 20, 0.9);
  background: rgba(0, 1, 20, 0.9);
  z-index: 1;
  /* TODO: Make column 1 always stretch from top to bottom */
}

.col-2 {
  position: absolute;
  width: 350px;
  min-height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  -webkit-transform: translate(-350px,0);
  transform: translate(-350px,0);
  z-index: 2;
  overflow: none;
  background-color: rgba(0, 1, 20, 0.9);
  background: rgba(0, 1, 20, 0.9);
  color: #add8e6;
}

.col-3 {
  position: absolute;
  width: 300px;
  min-height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  -webkit-transform: translate(-300px,0);
  transform: translate(-300px,0);
  z-index: 2;
  overflow: none;
  background-color: rgba(0, 1, 20, 0.9);
  background: rgba(0, 1, 20, 0.9);
  color: #add8e6;
}

.col-4 {
    position: absolute;
    width: 300px;
    min-height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    -webkit-transform: translate(-300px,0);
    transform: translate(-300px,0);
    z-index: 2;
    overflow: none;
    background-color: rgba(0, 1, 20, 0.9);
    background: rgba(0, 1, 20, 0.9);
    color: #add8e6;
}

.col-5 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.col-1.close {
    -webkit-transform: translate(-350px,0);
    transform: translate(-350px,0);
}

.col-1.open {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}

.col-2.open {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}

.col-3.open {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}

.col-3.close {
  -webkit-transform: translate(-300px,0);
  transform: translate(-300px,0);
}

.col-4.open {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}

.item-1 {
	order: 1;
}

.item-2 {
	order: 2;
}

.item-3 {
	order: 3;
}

.item-4 {
  order: 4;
}

.item-5 {
  order: 5;
}

.vertical-container {
  height: 3em;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-content: space-around;
          align-content: space-around;
  - webkit-align-items: center;
           align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.flex1 {
  -webkit-flex: 8;
          flex: 8;
}
.flex2 {
  -webkit-flex: 1;
          flex: 1;
}

/**
 *
 * HEADER
 *
 */

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 3em;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1000000;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0,0,255,0.5);
}

header h1,
header p {
  display: inline;
  vertical-align: center;
}

header h1 {
  font-weight: bold;
  font-size: 1.6em;
  line-height: 1.8em;
}

header p {
  font-size: 1.2em;
}

.hamburger {
  display: inline-block;
}

.hamburger svg {
  width: 32px;
  fill: #e0e0e0;
}

.hamburger svg:hover {
  cursor: pointer;
  opacity: 0.45;
}

/**
 *
 * MAIN
 *
 */

main {
    width: 100%;
	  margin: 3em 0 0;
     overflow: none;
}

/**
 *
 * MAIN MENUE
 *
 */

.menu {
    font-size: 1.2em;
    font-weight: bold;
}

.menu ul {
  margin: 1em 0.5em;
  padding: 2em 0.5em;
  list-style-type: none;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
}

.menu ul:last-of-type {
  border-bottom: none;
}

.menu ul li span {
  margin: 0 0 0 0.25em;
}

.menu ul li a {
  color:  #add8e6;
}

.menu ul li a:hover {
  cursor: pointer;
  color:  #fff;
}

/**
 *
 * APIS
 *
 */

/* Google Maps */

/* CREDITS: http://jsfiddle.net/X5r8r/927/ */
.map-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.full-map {
  width: 100%;
  height: 100%;
}

/* Wikipedia */

.wikipedia {
  color: #fff;
}

.wikipedia ul {
	margin: 0;
	padding: 0;
	height: auto;
  list-style: none;
}

.wikipedia ul li {
	-webkit-transition: all 0.5s ease-out;
	border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
}

.wikipedia ul li:last-child {
	border-bottom: none;
}

.wikipedia ul li a {
  text-decoration: none;
  color: #add8e6;
}

.wikipedia ul li a:hover {
  cursor: pointer;
  -webkit-transition: all 0.1s;
  color: #fff;
}

/* FourSquare */

.fs-style {
  color: #fff;
}

.fs-style h3 {
  margin: 0;
  padding: 0.25em;
}

.fs-style {
  margin: 0;
  padding: 0;
  position: relative;
}

.fs-style ul {
  margin: 0;
  padding: 0.25em;
}

.fs-style ul li {
  display: block;
  list-style-type: none;
  background: none;
  -webkit-transition: all 0.5s ease-out;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
}

.fs-style li:last-child {
  border-bottom: none;
}

.fs-style li:hover {
  background-color: rgb(255, 255, 255) transparent;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  -webkit-transition: all 0.1s;
  color: #000;
}

.fs-style li.selected {
  background-color: rgba(0,0,255,0.5);
  -webkit-transition: all 0.1s;
  color: #fff;
}

/**
 *
 * SEARCH ELEMENTS
 *
 */

.search-list {
  margin: 0;
  padding: 0;
}

.search-list p,
.search-list span {
  margin: 0;
  padding: 0;
}

/* Search Suggestion Groups such as Transportation, Recommended, POI, etc... */

.search-suggestions {
  width: 100%;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
}

.search-suggestions ul {
  list-style: none;
  margin: 0.5em 0;
  padding: 0;
}

.search-suggestions ul li {
  margin: 0 auto;
  padding: 0;
}

.focus-group {
  font-size: 1em;
}

/* Locations Search Results List */

.search-results {

}

.search-results ul {
  margin: 0 0.5em;
  padding: 0;
	list-style: none;
}

.search-results ul li img {
  margin: 0 0.5em 0 0;
  max-width: 6.5em;
  display: block;
  float: left;
}

.search-results ul li {
  padding: 0 0 0.25em 0;
	-webkit-transition: all 0.5s ease-out;
        - transition: all 0.5s ease-out;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
  float: left;
}

.search-results ul li:last-child {
	margin: 0;
	border: none;
}

.search-results ul li:hover {
  background-color: rgb(255, 255, 255) transparent;
  background-color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
	-webkit-transition: all 0.1s;
  color: #000;
}

.search-results ul li.selected {
  background-color: rgba(0,0,255,0.5);
	-webkit-transition: all 0.1s;
	color: #fff;
}

.title {
  display: inline;
}

.name {
  display: none;
}

.address {
  display: block;
}

/**
 *
 * IMAGE SLIDER
 *
 */

.slider {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 0.25em;
  color: #fff;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}

.slider ul li {
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
  width: 500px;
  height: 300px;
  display: block;
  background: #ccc;
  -webkit-transition:all 1.0s ease-in-out;
  -moz-transition:all 1.0s ease-in-out;
  -o-transition:all 1.0s ease-in-out;
  transition:all 1.0s ease-in-out;
}

.slider img {
  max-width: 100%;
  height: auto;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  opacity: 0.65;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 0.8;
  background-color: #fff;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

/**
 *
 * Sub Information
 *
 */

.wikipedia,
.info-text,
.about-text,
.contact-text,
.disclaimer-text {
  margin: 0.5em;
  padding: 0.5em;
  color: #fff;
  display: none;
}

.info-text p,
.about-text p,
.contact-text p,
.disclaimer-text p {

}

.wikipedia h4,
.info-text h4,
.about-text h4,
.contact-text h4,
.disclaimer-text h4 {
    margin: 0;
    padding: 0;
}

/**
 *
 *
 *
 */

.rounded-corners {
  border-radius: 10px;
  border: 2px solid #fff;
  padding: auto 0.25em;
  height: 2em;
  width: auto;
}


/**
 *
 * CONTROLS
 *
 *
 */

/* CREDIT: http://jsfiddle.net/rohitazad/VzZhU/ */
/* CREDIT: http://jsfiddle.net/rohitazad/VzZhU/ */
.arrow-left {
  margin: 0;
  font-size: 2em;
  color: #fff;
}

.arrow-left:before {
  content: "<<";
}

.arrow-left:hover {
  cursor: pointer;
  opacity: 0.45;
}

.arrow-right {
  margin: 0;
  padding: 0.25em;
  font-size: 2em;
  background-color: rgba(0, 1, 20, 0.9);
  background: rgba(0, 1, 20, 0.9);
  color: #fff;
}

.arrow-right:before {
  content: ">>";
}

.arrow-right:hover {
  cursor: pointer;
  opacity: 0.45;
}

.show {
  position: absolute;
  left: 0;
  display: none;
}

/**
 *
 * BUTTONS
 *
 * @CREDITS: https://css-tricks.com/examples/ButtonMaker/
 * @CREDITS: http://jsfiddle.net/TJcGc/
 *
 */

button {
  border: none;
  position: relative;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.suggest-button {
  width: 3em;
  height: 3em;
  font-size: 8pt;
}

.function-button {
  width: 2em;
  height: 2em;
  background-color: #5cb3ff;
  font-size: 10pt;
  font-weight: bold;
  color: #fff;
}

/* Different Colors for suggest buttons */
/* TODO: Get this colors dynamically*/
li:nth-child(1) button { background: #eeb211; }
li:nth-child(2) button { background: #5cb3ff; }
li:nth-child(3) button { background: #ff7563; }
li:nth-child(4) button { background: #d50f25; }

button:hover {
    border: 1px solid #fff;
    opacity: 0.85;
    cursor: pointer;
    text-decoration: none;
}

button.selected {
    transform: translateZ(0px);
    backface-visibility: hidden;
    transition-duration: 0.1s;
    transition-property: box-shadow;
    box-shadow: 0px 0px 0px 4px #e1e1e1 inset, 0px 0px 1px transparent;
}

/**
 *
 * GOOGLE MAPS info window
 *
 */

.info-window {
  margin: 0;
  padding: 0;
  font: 1em "Architects Daughter", cursive;
  overflow: hidden !important;
  color: #000;
}

.info-window hr {
    /* CREDIT: Inset, by Dan Eden */
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.info-window h3,
.info-window p {
	margin: 0;
	padding: 0;
}

.info-window h3 {
  margin: 0 0 0.5em 0;
  border-radius: 2px 2px 0 0;
  font-size: 1.2em;
  font-weight: bold;
}

.gm-style-iw {
  max-width: 200px;
  min-height: 100px;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
.gm-style-iw > div {
  overflow: visible !important;
}

/**
 *
 * MESSAGES
 *
 */

.error {
  font-size: 3em;
  font-weight: bold;
  color: red;
}

/**
 *
 * TEXT
 *
 */

a {
  text-decoration: none;
    color: #ccc;
}

a:hover {
    color: #000;
}

/* CREDIT: */

.block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 43px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 *
 * MEDIA QUERIES
 *
 */

@media only screen and (max-width: 380px) {
    .col-2 {
        max-width: 320px;
    }

    .col-2.open {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }

}

@media only screen and (max-width: 450px) {
    header p {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
	  header h1 {
		    font-size: 1.2em;
        line-height: 1.4em;
    }

    header p {
        font-size: 0.8em;
    }

    .reverse {
        display: none;
    }

    .search-results ul li img {
      display: none;
    }

    .col-1,
    .col-3,
    .col-4 {
        width: 250px;
    }

    .col-1.close,
    .col-3.close,
    .col-4.close {
        -webkit-transform: translate(-250px,0);
        transform: translate(-250px,0);
    }

    .col-3.open,
    .col-4.open {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }

    .category {
    	display: none;
    }

    .search-results ul li {
  	    float: none;
    }

    .menu ul {
        margin: 0.5em 0.25em;
        padding: 1em 0.25em;
    }
}

@media only screen and (max-width: 800px) {

  .search {
  	margin: 0;
  }
  header .item-3 {
  	display: none;
  }
  .title {
    display: none;
  }
  .name {
    display: inline;
  }
}

/* @CREDITS: https://developers.google.com/web/fundamentals/layouts/rwd-patterns/off-canvas?hl=en */
@media (min-width: 500px) {
    .flex-container {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }

}

@media (min-width: 800px) {

}