html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Architects Daughter', cursive;
  font-size: 1em;
  overflow-x: hidden;
}

/**
 *
 * FLEXBOX
 *
 */

.flex-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

main {
  margin-top: 50px;
  display: block;
}

.row {
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
          flex-flow: row;
}

.col-1 {
  position: absolute;
  width: 650px;
  height: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
 
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;

  -webkit-transform: translate(0,0);
  transform: translate(0,0);

  z-index: 1;
  
  background-color: rgba(0, 1, 20, 0.9);
  background: rgba(0, 1, 20, 0.9);

 
  /* @TODO: MAKE COLUMN 1 STRETCH FROM TOP TO BOTTOM */
  /* background: #000;
     opacity: 0.65;*/
}

.col-3 {
  position: absolute;
  width: 500px;
  height: 100%;
        
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; 

  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;

  -webkit-transform: translate(0,0);
  transform: translate(0,0);
        
  z-index: 1;

}

.col-3 {
  left: 100%;
  /*border: 1px solid red;
  background: yellow;*/
}

.col-4 {
  
  background-color: rgba(0, 1, 20, 0.9);
  background: rgba(0, 1, 20, 0.9);

 /* color: rgba(12,  15,  63,  0.9);*/

  color: #add8e6;

  position: absolute;
  width: 250px;
  height: 100%;
        
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; 

  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;

  -webkit-transform: translate(0,0);
  transform: translate(0,0);
        
  z-index: 2;
  overflow: none;
}

.col-4 {
  left: 100%;
  /*border: 1px solid red;
  background: yellow;*/
}

.col-2 {
  width: 100%;
  position: absolute;
}

.col-1.close {
  -webkit-transform: translate(-500px,0);
  transform: translate(-500px,0);
}

.col-1.open {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}

.col-3.open {
  -webkit-transform: translate(-500px,0);
  transform: translate(-500px,0);
}

.col-3.close {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}

.col-4.open {
  -webkit-transform: translate(-250px,0);
  transform: translate(-250px,0);
}

.item-1 {
	order: 1;
}

.item-2 {
	order: 2;
}

.item-3 {
	order: 3;
}

.item-4 {
  order: 4;
}

.item-5 {
  order: 5;
}

/**
 *
 * HEADER
 *
 */

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1000000;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  align-items: center;
  background: #3369e8;
  opacity: 0.75;
  color: #fff;
}

header h1,
header p {
  display: inline;
  vertical-align: center;
}

header h1 {
  font-weight: bold;
  font-size: 1.6em;
  line-height: 1.8em;
}

header p {
  font-size: 1.2em;
}

.header-menu {
  display: inline-block;
}

.header-menu svg {
  width: 32px;
  fill: #e0e0e0;
}

.header-menu svg:hover {
  cursor: pointer;
  opacity: 0.45;
}

/**
 *
 * MAIN MENUE
 *
 */

#main-menu {
    font-size: 1.2em;
    font-weight: bold;
}

#main-menu ul {
  margin: 0 0.5em 2em 0.5em;
  padding: 0 0.5em 2em 0.5em;
  list-style-type: none;
  /*border-bottom: 1px solid #add8e6;*/
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
}

#main-menu ul:first-of-type {
  margin-top: 1em;
  
}

#main-menu ul:last-of-type {
  border-bottom: none;
}

#main-menu ul li span {
  margin-left: 0.25em;
}

#main-menu ul li a {
  color:  #add8e6;
}

#main-menu ul li a:hover {
  cursor: pointer;
  color:  #fff;
}

/**
 *
 * APIS
 *
 */

/*Google Maps*/
/* CREDITS: http://jsfiddle.net/X5r8r/927/ */

.map-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

#map-canvas {
  width: 100%;
  height: 100%;
}

#panorama {
  width: auto;
  height: 300px;
  z-index: 1;
}

/*Wikipedia*/

.wikipedia {
	position: relative; 
  margin: 0;
  padding: 0.5em;
  height: auto;
  width: auto;
  max-width: 100%;
}

.wikipedia h3 {
	margin: 0;
	padding: 0;
}

.wikipedia ul {
  list-style: none;
	margin: 0;
	padding: 0;
	height: auto;
}

.wikipedia ul li {
	background: none;   
	-webkit-transition: all 0.5s ease-out;
	border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
}

.wikipedia ul li:last-child {
	border-bottom: none;
}

.wikipedia ul li a {
  text-decoration: none;
  color: #add8e6;
}

.wikipedia ul li a:hover {
  cursor: pointer;
  -webkit-transition: all 0.1s;
  font-weight: bold;
  color: #fff;
}

/* FourSquare */

#fs-all {
  color: #fff;
  background-color: rgba(0, 1, 20, 0.9);
  background: rgba(0, 1, 20, 0.9);
}

#fs-all h3 {
  margin: 0;
  padding: 0.25em;
}

#fs-gallery {
  margin: 0;
  position: relative; 
/*background: #000;*/
  /*opacity: 0.75;*/
}

#fs-gallery ul {
  margin: 0;
  padding: 0;
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  background: #ccc;
}

#fs-gallery ul li {
  display: inline;
  list-style-type: none;
  height: auto;
}

#fs-gallery ul li img {
  /*width: 180px;*/
}

#fs-nearbyFood {
  margin: 0;
  padding: 0;
  position: relative; 
/*  background: #000;
  opacity: 0.65; */
}

#fs-nearbyFood ul {
  margin: 0;
  padding: 0.25em;
}

#fs-nearbyFood ul li {
  display: block;
  list-style-type: none;
  background: none;   
  -webkit-transition: all 0.5s ease-out;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
}

#fs-nearbyFood li:last-child {
  border-bottom: none;
}

#fs-nearbyFood li:hover {
  background: #ccc;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  font-weight: bold;
  color: #000;
}

#fs-nearby li.selected {
  background: #191970; /*#3369E8; #191970;*/
  -webkit-transition: all 0.1s;
  font-weight: bold;
  color: #fff;
}

#fs-nearbyHotels {
  margin: 0;
  padding: 0;
  position: relative; 
/*  background: #000;
  opacity: 0.65;*/
}

#fs-nearbyHotels ul {
  margin: 0;
  padding: 0.25em;
}

#fs-nearbyHotels ul li {
  display: block;
  list-style-type: none;
  background: none;   
  -webkit-transition: all 0.5s ease-out;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
}

#fs-nearbyHotels li:last-child {
  border-bottom: none;
}

#fs-nearbyHotels li:hover {
  background: #ccc;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  font-weight: bold;
  color: #000;
}

#fs-nearbyHotels li.selected {
  background: #191970; /*#3369E8; #191970;*/
  -webkit-transition: all 0.1s;
  font-weight: bold;
  color: #fff;
}

#fs-tips {
  margin: 0;
  padding: 0;
  position: relative; 
/*  background: #000;
  opacity: 0.65;*/
}

#fs-tips ul {
  margin: 0;
  padding: 0.25em;
}

#fs-tips ul li {
  display: block;
  list-style-type: none;
  background: none;   
  -webkit-transition: all 0.5s ease-out;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
}

#fs-tips li:last-child {
  border-bottom: none;
}

/**
 *
 * SEARCH ELEMENTS
 *
 */

 .flex {
  padding: 0;
  margin: 0;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: space-around;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
 }

#search {
  position: relative; 
  z-index: 1;
  margin: 0;
  padding: 0.75em;
 /* background: #000;
  opacity: 0.65; */
  color: #fff;
}

.search-element {

}

/* Search Suggestion Groups such as Transportation, Recommended, POI, etc... */

#search-suggestions {
  width: 100%;
}

#search-suggestions ul {
  list-style: none;
  margin: 0.5em 0;
  padding: 0;
}

#search-suggestions ul li {
  margin: 0 auto;
  padding: 0;
}

.focus-group {
  font-size: 1em;
}

/* Search Results List */

#search-results {
  position: relative;
}

#search-results ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#search-results ul li img {
  display: block;
  margin-right: 0.5em;
  float: left;
  max-width: 100px;
}

#search-results ul li {
  float: left;
	background: none;   
  padding-bottom: 0.25em;
	-webkit-transition: all 0.5s ease-out;
        - transition: all 0.5s ease-out;
	/*border-bottom: 1px solid #eee;*/
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
}

#search-results ul li:last-child {
	border-bottom: none;
  margin: 0;
}

#search-results ul li:hover {
	background: #ccc;
	cursor: pointer;
	-webkit-transition: all 0.1s;
	font-weight: bold;
	color: #000;
}

#search-results ul li.selected {
	background: #191970; /*#3369E8; #191970;*/
	-webkit-transition: all 0.1s;
	font-weight: bold;
	color: #fff;
}

.title {
  display: inline;
}

.name {
  display: none;
}

.address {
  display: none;
}

.iw-img {
    display: block;
}

/**
 *
 * IMAGE SLIDER
 *
 */

#slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 4px;
  color: #fff;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  background: #ccc;
  width: 500px;
  height: 300px;
    -webkit-transition:all 1.0s ease-in-out;
  -moz-transition:all 1.0s ease-in-out;
  -o-transition:all 1.0s ease-in-out;
  transition:all 1.0s ease-in-out;
}

#slider img {
  max-width: 100%;
  height: auto;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

/**
 *
 *
 *
 */

 .info-text,
 .about-text {

 }

 .info-text p,
 .about-text p {
  margin: 0;
  padding: 0.5em;
 }

/**
 *
 *
 *
 */

.rounded-corners {
  border-radius: 10px;
  border: 2px solid #fff;
  padding: auto 0.25em;
  height: 2em;
  width: 15em;
}


/**
 *
 * HIDE <<
 *
 * @CREDIT: http://jsfiddle.net/rohitazad/VzZhU/
 */

.arrow {
  cursor: pointer;
  color: white;
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  float: right;
}

.arrow:before {
  content: "<<";
}

.arrow:hover {
  opacity: 0.45;
}

/**
 *
 * BUTTONS
 *
 * @CREDITS: https://css-tricks.com/examples/ButtonMaker/
 * @CREDITS: http://jsfiddle.net/TJcGc/
 *
 */

button {
  color: #fff;
  font-weight: bold;
  font-size: 8pt;
  width: 3em;
  height: 3em;
  border: none;
  position: relative;
  margin-bottom:5px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;     
}

.suggestButton {
  /*background: #900;*/
  font-size: 8pt;
  width: 3em;
  height: 3em;  
}

.functionButton {
  background: #5cb3ff;
  font-size: 10pt;
  width: 2em;
  height: 2em;   
}

.myButton {
  background: #5cb3ff;
  font-size: 10pt;
  width: 2em;
  height: 2em;   
}

/* Different Colors for suggestButtons */
/* @TODO: Get this colors dynamically*/
li:nth-child(1) button { background: #eeb211; }
li:nth-child(2) button { background: #5cb3ff; }
li:nth-child(3) button { background: #ff7563; }
li:nth-child(4) button { background: #d50f25; }

button:hover,
.suggestButton:hover {
   border-top-color: #3b474f;
   background: #3b474f;
   color: #d6bcd6;
   cursor: pointer;
}

button.selected,
.suggestButton.selected {
   border-top-color: #1b435e;
   background: #1b435e;
}

/**
 *
 * GOOGLE MAPS INFO WINDOW
 *
 */

#iw-container {
    font-family: 'Architects Daughter', cursive;
    /*background-color: #d3d3d3;*/
    max-width: 250px;
}

#iw-container .iw-body h2,
#iw-container .iw-body h3,
#iw-container .iw-body p {
	margin: 0;
	padding: 0.5 0;
}

#iw-container .iw-title {
   font-size: 1.2em;
   font-weight: bold;
   padding: 0.5em;
   background-color: #3369E8; /*#48b5e9;*/
   color: #fff;
   margin: 0;
   border-radius: 2px 2px 0 0;
}

#iw-container .iw-body {
  /*background-color: #d3d3d3;*/
	padding: 0;
	font-size: 1em;
}

#iw-container .iw-body p{
  padding: 0 0 0 0.5em;
  font-size: 1em;
}

#iw-container .iw-body .iw-img {
	max-width: 250px;
	height: auto;
  padding: 0;
}

#iw-container .iw-footer {
	background-color: #48b5e9;
	border-top: 1px solid #ccc;
}

#iw-container .iw-footer a {
    padding: 1em;
}

.gm-style-iw {
   max-width: 350px !important;
   top: 0 !important;
   left: 0 !important;
   border-radius: 2px 2px 0 0;
}

.error {
	font-size: 3em;
	font-weight: bold;
}

/**
 *
 * Footer
 *
 */

footer {
	flex: none;
	position: relative; 
  z-index: 1; /* The z-index should be higher than Google Maps */
  background: black;
  height: auto;
  width: 100%;
  opacity: .45; /* Set the opacity for a slightly transparent Google Form */ 
  color: white;
	border-top: 1px solid #ccc;
}

.contact {
	text-align: center;
  margin: auto;
  padding: 0.2em;
  font-size: 1.2em;
}

/**
 *
 * MESSAGES 
 *
 */

.message ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
}

.message li {
  background: none;   
  -webkit-transition: all 0.5s ease-out;
}

/**
 *
 *
 *
 */

a {
  text-decoration: none;
    color: #ccc;
}

a:hover {
    color: #000;
}

/**
 *
 * MEDIA QUERIES
 *
 */

@media only screen and (max-width: 380px) {
  body {
    margin: 0;
    padding: 0;
  }
  header p {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 1.2em;
    line-height: 1.4em;
  }
  header p {
    font-size: 0.8em;
  }
  .reset,
  .reverse {
    display: none;
  }
  .col-1 {
    width: 200px;
  }
  .iw-img {
    display:none;
  }
  .address {
    display: block;
  }
  #iw-container {
    max-width: 150px;
  }
}

@media only screen and (max-width: 800px) {
	body {
		margin: 0;
	}
	.flex-container {
  	justify-content: flex-start;
  	align-items: flex-start;
  	margin: 0 0.5em;
  }
  .search {
  	margin: 0;
  }
  .col-2,
  .col-3 {
  	display: none;
  }
  header .item-3 {
  	display: none;
  }
  #search-results ul li img {
    display: none;
  }
  .title {
    display: none;
  }
  .name {
    display: inline;
  }
}

/* @CREDITS: https://developers.google.com/web/fundamentals/layouts/rwd-patterns/off-canvas?hl=en */
@media (min-width: 500px) {
  .flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  .col-1 {
  /*position: relative;
    -webkit-transition: none 0s ease-out;
    transition: none 0s ease-out;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);*/
  }
  .col-2 {
    position: static;
  }
}

@media (min-width: 800px) {
  body {
   
  }
 /* .col-3 {
    position: relative;
    left: auto;
    -webkit-transition: none 0s ease-out;
    transition: none 0s ease-out;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }*/
}