html,
body {
	height: 100%;
	margin: 0;
	padding: 0.5em 1em 1em;
}

body {
	font-family: 'Architects Daughter', cursive;
    font-size: 1em;
}

header {
  margin: 1em auto;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  font-weight: bold;
}

header p {
  margin: 0;
  padding-bottom: 0.5em;
  font-size: 1.2em;
  color: #ccc;
}

#map-canvas {
  height: 500px;
  width: auto;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.col-1 {
	width: 50%;
}

.col-2 {
	width: 50%;
}

.row {
    display: flex;
}

.item-1 {
  order: 1;
}

.item-2 {
  order: 2;
  padding: 1em auto;
}

.item-3 {
  order: 3;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
  text-decoration: none;
  color: #ccc;
}

a:hover {
  color: #000;
}

footer {
  margin-top: 3em;
  border-top: 1px solid #ccc;
}

.contact {
  text-align: right;
  margin: 0.2em;
  font-size: 1.2em;
}